.table-container {
	max-width: 100%;
	overflow-x: auto;
    align-items: center;
  }
  
  table {
    position:fixed;
	width: 50%;
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
	background-color: #354a5f;
	color: #fff;
	text-align: center;
  }
  
  table thead tr th {
	border: none;
	font-size: 1.125rem;
	padding: 2rem 1.25rem;
	white-space: nowrap;
  }
  
  table tbody tr {
	border-bottom: none;
  }
  
  table tbody tr:nth-of-type(even) {
	background-color: #f3f6f9;
  }
  
  table tbody tr:last-of-type {
	border-bottom: 4px solid #354a5f;
  }
  
  table tbody tr td {
	padding: 1rem 1.25rem;
	border: none;
	white-space: wrap;
  }
  
  table tbody tr td img {
	max-width: 100px;
	height: auto;
  }
  
  .message {
	text-align: center;
	font-size: 1rem;
	padding: 2rem;
  }

  .filter-section {
	background-color: white;
	padding: 1.5rem;
	border: none;
	border: 1px solid #d1dde8;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	border-radius: 3px;
  }
  
  .form-section {
	display: flex;
	flex-direction: column;
	width: 50vw;
	background-color: white;
	padding: 1rem;
	flex-wrap: wrap;
	gap: 1rem;
  }
  
  .form-field {
	display: flex;
	flex-direction: column;
  }
  
  input,
  textarea,
  select {
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid #d1dde8;
	border-radius: 3px;
  }
  
  input:focus, input:hover, input:active,
  textarea:focus,
  textarea:hover,
  textarea:active,
  select:focus,
  select:hover,
  select:active {
	border: 1px solid #354a5f;
  }
  
  input[type="text"],
  input[type="number"] {
	flex-grow: 1;
	min-width: 200px;
  }
  
  input[type="date"] {
	width: 150px;
	display: flex;
	flex-direction: row;
  }
  
  select {
	flex-grow: 1;
	min-width: 200px;
  }
  
  button {
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 1rem;
	padding: 1rem 1.5rem;
  }
  
  button.btn-action {
	background-color: #354a5f;
	color: #fff;
  }
  
  button.btn-action:hover {
	background-color: #22303f;
  }
  
  button.btn-submit {
	background-color: #3398db;
	color: #fff;
  }
  
  button.btn-submit:hover {
	background-color: #217dba;
  }
  
  button.btn {
	background-color: #f3f6f9;
	color: #283848;
  }
  
  button.btn:hover {
	background-color: #e2e9f1;
  }